.landing-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .landing-content {
    flex-grow: 1;
    text-align: center;
  }
  
  .landing-title {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .landing-description {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  
  .line-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
  }
  
  .action-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .action-button {
    width: 200px;
    background-color: #d32f2f; /* Adjust color as needed */
    color: white;
  }
  
  .links-container {
    margin-top: 2rem;
    text-align: center;
  }
  
  .help-link a {
    color: #d32f2f;
    text-decoration: none;
  }
  
  .help-link a:hover {
    text-decoration: underline;
  }
  
  .additional-links {
    margin-top: 1rem;
    font-size: 1rem;
    color: gray;
  }
  