/* Global */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.content {
  flex: 1;
  padding: 2rem;
}

.menuIcon {
  color: #ea4040;
}

/* Header Title - Left Aligned */
.headerTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 2rem;
}

.title {
  color: #333;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
}

.separator {
  border-bottom: 3px solid #ea4040;
  width: 40%;
  margin-left: 0;
}

/* History Container */
.historyContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* User Details */
.userDetailsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* Reminder Panel */
.reminderBox {
  display: flex;
  align-items: center;
  background-color: #ffebcc;
  border-left: 6px solid #ff9800;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  width: 100%; /* Ensure it takes full width of the container */
  max-width: 100%; /* Optional: you can set a max-width if needed */
  margin-left: 13px; /* Adjusts alignment within the container */
}
.reminderIcon {
  color: #ff9800;
  font-size: 2rem;
  margin-right: 1rem;
}

.reminderText {
  font-size: 1.2rem;
  color: #333;
}

/* Borrowing Stats */
.stats {
  text-align: left;
  font-size: 1.2rem;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 1.5rem; /* Align with reminder box */
}

.highlight {
  color: #ea4040;
  font-weight: bold;
  font-size: 1.75rem;
}

/* Action Buttons */
.buttonContainer {
  margin-top: 2rem;
}

.actionButton {
  background-color: #ea4040;
  color: #fff;
  text-transform: none;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.actionButton:hover {
  background-color: #c63535;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .separator {
    width: 60%;
  }

  .historyContainer {
    flex-direction: column;
  }

  .stats {
    text-align: left;
  }

  .reminderBox {
    margin-bottom: 1rem;
  }
}
