.container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.line-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
}

.manage-title {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.manageButton {
    text-align: center;
    background-color: #ea4040;
    color: #fff;
    padding: 30px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 300px;
    height: auto;
    transition: background-color 0.3s;
    margin-left: 200px;
}

.manageButton:hover {
    background-color: #d73939;
}
