.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex-grow: 1;
}

.menuIcon {
  color: #EA4040;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.searchBox {
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-right: 0.5rem;
}

.tuneIcon {
  color: #757575;
}

.tableContainer {
  margin-top: 1rem;
}

.activeStatus {
  color: green;
  font-weight: bold;
}

.inactiveStatus {
  color: red;
  font-weight: bold;
}

.editText {
  color: #007BFF;
  cursor: pointer;
}

.editText:hover {
  text-decoration: underline;
}
