/* src/pages/VerifyUser.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.send-otp-button {
  background-color: #CC0000 !important;
  color: white !important;
  margin-top: 16px;
}

.send-otp-button:hover {
  background-color: darkred !important;
}

.footer {
  margin-top: auto;
  background-color: #3d3d3d;
  color: white;
  text-align: center;
  padding: 10px 0;
}